body {
  --white: #ffffff;
  --primary: #00448e;
  --secondary: #FFDB00;
  --auxiliary: #64C914;
  --border: #EDF2FF;
  --black: #333333;
  --red: #CC1C26;
}

body .campain-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.1rem;
}

body .campain-bar:hover {
  opacity: 0.8;
}

body header {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  z-index: 9999;
}

@media screen and (max-width: 850px) {
  body header {
    padding: 10px 0;
    height: 60px;
  }
}

body header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

@media screen and (max-width: 850px) {
  body header .container {
    border: none;
  }
}

body header .logo-area img {
  width: 200px;
  max-height: 60px;
}

@media screen and (max-width: 850px) {
  body header .logo-area img {
    width: 100px;
  }
}

@media screen and (max-width: 850px) {
  body header .nav-search {
    display: none;
  }
}

body header .form-inputs {
  position: relative;
}

body header .form-inputs .form-control {
  height: 45px;
}

body header .form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--black);
}

body header .form-inputs img {
  position: absolute;
  right: 1rem;
  top: 12px;
  height: 21px;
  width: 21px;
}

body header .right-area .action-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body header .right-area .action-area .login-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .login-area img {
    margin-right: 1rem;
  }
}

body header .right-area .action-area .login-area .content-area {
  margin-left: 0.5rem;
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .login-area .content-area {
    display: none;
  }
}

body header .right-area .action-area .login-area .content-area a {
  color: var(--primary);
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .favourite-basket {
    margin-right: 0.5rem;
  }
}

body header .right-area .action-area .favourite-basket a {
  position: relative;
}

body header .right-area .action-area .favourite-basket a + a {
  margin-left: 1rem;
}

body header .right-area .action-area .mobile-navbar {
  display: none;
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .mobile-navbar {
    display: block;
  }
  body header .right-area .action-area .mobile-navbar .target-burger {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  body header .right-area .action-area .mobile-navbar .target-burger ul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin: -12px 0 0 -12px;
    padding: 0;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  body header .right-area .action-area .mobile-navbar .target-burger ul:hover {
    cursor: pointer;
  }
  body header .right-area .action-area .mobile-navbar .target-burger ul li {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    margin-top: -0.75px;
    background-color: var(--primary);
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  body header .right-area .action-area .mobile-navbar .target-burger ul li:last-child {
    -webkit-transform: translateY(3.75px) translateZ(0);
    transform: translateY(3.75px) translateZ(0);
  }
  body header .right-area .action-area .mobile-navbar .target-burger:hover {
    opacity: 0.5;
  }
  body header .right-area .action-area .mobile-navbar .target-burger.toggled ul li {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
  }
  body header .right-area .action-area .mobile-navbar .target-burger.toggled ul li:last-child {
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
  }
  body header .right-area .action-area .mobile-navbar .main-nav {
    display: none;
    position: fixed;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 850px) and (max-width: 560px) {
  body header .right-area .action-area .mobile-navbar .main-nav {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .mobile-navbar .main-nav.toggled {
    display: block;
    background-color: var(--primary);
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 850px) and (max-width: 560px) {
  body header .right-area .action-area .mobile-navbar .main-nav > ul {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .mobile-navbar .main-nav > ul li {
    display: flex;
    justify-content: flex-start;
    transition: 0.2s;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li a {
    padding: 0.5rem 0;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li a > span {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
  }
}

@media screen and (max-width: 850px) and (max-width: 560px) {
  body header .right-area .action-area .mobile-navbar .main-nav > ul li a > span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  body header .right-area .action-area .mobile-navbar .main-nav > ul li a:hover {
    opacity: 0.8;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li.mobile-nav-dropdown {
    display: flex;
    flex-direction: column;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li.mobile-nav-dropdown .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    padding: 15px;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li.mobile-nav-dropdown .content {
    padding-top: 0;
    display: none;
    flex-direction: column;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li.mobile-nav-dropdown .content.active {
    display: flex;
    flex-direction: column;
  }
  body header .right-area .action-area .mobile-navbar .main-nav > ul li.mobile-nav-dropdown .content a {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    padding: 10px 0 10px 30px;
  }
}

body header .right-area img {
  height: 24px;
}

body header .right-area .count-area {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--secondary);
  color: var(--black);
  height: 18px;
  width: 18px;
  font-size: 0.8rem;
  font-weight: 500;
}

body header.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(231, 115, 37, 0.23) 0px 2px 5px 0px;
}

body main {
  color: var(--black);
}

body main .navigation {
  display: flex;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 850px) {
  body main .navigation {
    display: none;
  }
}

body main .navigation nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body main .navigation nav a {
  font-weight: 500;
}

body main .mobile-search {
  display: none;
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  body main .mobile-search {
    display: block;
  }
}

body main .form-inputs {
  position: relative;
}

body main .form-inputs .form-control {
  height: 45px;
}

body main .form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--black);
}

body main .form-inputs img {
  position: absolute;
  right: 1rem;
  top: 12px;
  height: 21px;
  width: 21px;
}

body main section,
body main div {
  position: relative;
}

body main section.breadcrumb,
body main div.breadcrumb {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

body main section.breadcrumb a,
body main div.breadcrumb a {
  color: var(--primary);
  position: relative;
  font-size: 0.9rem;
}

body main section.breadcrumb a:not(:last-child),
body main div.breadcrumb a:not(:last-child) {
  margin-right: 1.5rem;
}

body main section.breadcrumb a:not(:last-child):after,
body main div.breadcrumb a:not(:last-child):after {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: currentColor;
  right: -1.2rem;
  bottom: 8px;
  opacity: 0.5;
}

body main section.breadcrumb a svg,
body main div.breadcrumb a svg {
  font-size: 1.4rem;
  stroke: currentColor;
}

body main section.breadcrumb .active,
body main div.breadcrumb .active {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 4px;
}

body main section > p,
body main section .content-area > p,
body main div > p,
body main div .content-area > p {
  font-size: 1.2rem;
  opacity: 0.5;
  margin: 2rem 0;
}

body main h1 {
  max-width: 600px;
}

body main h2 {
  line-height: 1.35;
}

body main h3 {
  line-height: 1.4;
}

body main .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 70;
}

body main .slick-arrow.chevron-right {
  right: -5px;
}

body main .slick-arrow.chevron-left {
  left: -5px;
}

@media screen and (max-width: 768px) {
  body main .slick-arrow.chevron-right {
    right: 0;
  }
  body main .slick-arrow.chevron-left {
    left: 0;
  }
}

footer {
  position: relative;
  margin-top: 2rem;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container > * {
  border-top: 1px solid var(--border);
  padding: 2rem 0;
}

footer .container .contact-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 850px) {
  footer .container .contact-area {
    flex-direction: column;
    align-items: flex-start;
  }
}

footer .container .contact-area > * {
  max-width: 33%;
}

@media screen and (max-width: 850px) {
  footer .container .contact-area > * {
    max-width: 100%;
  }
}

footer .container .contact-area .phone-area {
  display: flex;
  flex-direction: row;
}

footer .container .contact-area .phone-area img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .phone-area img {
    width: 18px;
    height: 18px;
  }
}

footer .container .contact-area .phone-area .content-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.5rem;
}

footer .container .contact-area .phone-area .content-area a {
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .phone-area .content-area a {
    font-size: 1.1rem;
  }
}

footer .container .contact-area .phone-area .content-area .address {
  margin-top: 0.5rem;
  opacity: 0.5;
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .phone-area .content-area .address {
    font-size: 0.9rem;
  }
}

footer .container .contact-area .mail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 850px) {
  footer .container .contact-area .mail {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .mail {
    margin: 1rem 0;
  }
}

footer .container .contact-area .mail img {
  width: 24px;
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .mail img {
    width: 18px;
  }
}

footer .container .contact-area .mail a {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  footer .container .contact-area .mail a {
    font-size: 1.1rem;
  }
}

footer .container .contact-area .social-area > span {
  color: var(--primary);
  font-weight: 500;
}

footer .container .contact-area .social-area ul {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

footer .container .contact-area .social-area ul li + li {
  margin-left: 0.5rem;
}

footer .container .contact-area .social-area ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--primary);
  height: 36px;
  width: 36px;
  color: var(--white);
}

footer .container .contact-area .social-area ul a svg {
  width: 16px;
  height: 16px;
}

footer .container .sub-menu {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 850px) {
  footer .container .sub-menu {
    display: none;
  }
}

footer .container .sub-menu .card-info {
  width: 30%;
}

footer .container .sub-menu .card-info span {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

footer .container .sub-menu .card-info .card-content {
  display: flex;
  flex-direction: column;
}

footer .container .sub-menu .card-info .card-content .card-row {
  margin-top: 1rem;
}

footer .container .sub-menu .card-info .card-content img {
  max-height: 32px;
}

footer .container .sub-menu .menu-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

footer .container .sub-menu .menu-area ul {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

footer .container .sub-menu .menu-area ul li + li {
  margin-top: 1rem;
}

footer .container .sub-menu .menu-area ul li a {
  opacity: 0.5;
}

footer .container .sub-menu .menu-area ul li a:hover {
  opacity: 1;
  color: var(--primary);
}

footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  footer .copyright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

footer .copyright span {
  font-size: 12px;
  opacity: 0.5;
  width: 50%;
}

@media screen and (max-width: 850px) {
  footer .copyright span {
    width: 100%;
    text-align: center;
  }
}

footer .copyright img {
  width: 150px;
  height: 100%;
}

@media screen and (max-width: 850px) {
  footer .copyright img {
    margin: 2rem 0;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.product-item .img-area {
  position: relative;
}

.product-item .img-area img {
  width: 100%;
}

.product-item .img-area .special-img {
  position: absolute;
  width: 70px;
  right: 10px;
  top: 30px;
}

.product-item .product-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5rem 0;
  line-height: 20px;
  font-weight: 500;
  padding: 3px 3%;
  margin: 0 0 10px;
}

@media screen and (max-width: 560px) {
  .product-item .product-name {
    font-size: 0.9rem;
  }
}

.product-item .bottom-area {
  display: flex;
  flex-direction: row;
}

.product-item .bottom-area .discount {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  margin-right: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  width: min-content;
}

.product-item .bottom-area .price-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 20px;
  padding: 0 3%;
}

.product-item .bottom-area .price-area > * {
  white-space: nowrap;
}

.product-item .bottom-area .price-area .before {
  text-decoration: line-through;
  opacity: 0.5;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  font-weight: 400;
}

@media screen and (max-width: 560px) {
  .product-item .bottom-area .price-area .before {
    font-size: 0.8rem;
  }
}

.product-item .bottom-area .price-area .now {
  font-size: 18px;
  font-weight: 600;
  font-weight: 700;
}

@media screen and (max-width: 560px) {
  .product-item .bottom-area .price-area .now {
    font-size: 1rem;
  }
}

.product-item:hover {
  cursor: pointer;
}

.product-item:hover .product-name {
  color: var(--primary);
}

.chevron-right::before {
  display: inline-block;
  content: '';
  vertical-align: -0.125em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}

.chevron-left::before {
  display: inline-block;
  content: '';
  vertical-align: -0.125em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/> </svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}

.checkmark::before {
  display: inline-block;
  content: '';
  vertical-align: -0.125em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}
