@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*:not(i) {
  font-family: "Inter", sans-serif !important;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: .5rem;
}

h2 {
  font-size: 2.4em;
}

@media (max-width: 560px) {
  h2 {
    font-size: 1.7em;
  }
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

input[type="submit"] {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a:hover {
  color: var(--primary);
  opacity: .8;
}
